.display-large {
  font-size: var(--fs-display-large);
  font-family: var(--font-primary);
  font-weight: var(--weight-regular);
  letter-spacing: -0.25px;
}

.display-medium {
  font-size: var(--fs-display-medium);
  line-height: 36px;
}

.display-small {
  font-size: var(--fs-display-small);
  font-family: var(--font-primary);
  font-weight: var(--weight-regular);
  line-height: 32px;
}

.headline-small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: 32px;
}

.title-medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-size: var(--fs-title-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body-large {
  font-size: var(--fs-body-large);
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: var(--fs-body-medium);
  line-height: 20px;
  letter-spacing: 0.25px;
}

.label-large {
  font-size: var(--fs-label-large);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}
