/* --------------
  - Imports
-----------------*/

/* base */
@import url("./base/variables.css");
@import url("./base/reset.css");
@import url("./base/typography.css");

/* components */
@import url("./components/buttons.css");
@import url("./components/cards.css");

/* layouts */
@import url("./layout/flex.css");
@import url("./layout/grid.css");
@import url("./layout/spacing.css");

/* themes */
@import url("./themes/drak.css");
@import url("./themes/light.css");

/* animation */
@import url("./animation.css");

/* responsivity */
@import url("./responsivity.css");

/* utilities */
@import url("./utilities.css");

/* ----------------------------------------- */

/* 
  - Header
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--background);
  width: 100%;
  height: var(--header-height);
}

.header .navbar {
  display: none;
}

.navbar li {
  padding-inline: 24px;
  height: var(--header-height);
}

.navbar li > a {
  position: relative;
  z-index: 1;
  height: 100%;
  border-block-end: 3px solid transparent;
}

.navbar li > a[aria-selected="true"] {
  border-block-end-color: var(--primary);
}

/*------------- 
  - Mobile NAV
--------------*/

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: var(--mobile-nav-height);
  background-color: var(--background);
  border-block-start: 1px solid var(--outline);
}

.mobile-nav .nav-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
}

.nav-list .material-symbols-outlined {
  transition: var(--transition-short);
}

.nav-list
  a:where(:hover, :focus-visible):not(:active)
  .material-symbols-outlined {
  background-color: var(--alpha-10);
}

.nav-list a[aria-selected="true"] .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
  background-color: var(--active-indicator);
}

/* -------------
  - Hero
-----------------*/

.hero {
  height: 480px;
  background-color: var(--image-background);
  background-image: url("../images/hero-banner-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(12, 1fr);
}

.box-search-field {
  position: relative;
  height: 54px;
  max-width: 480px;
  width: 90%;
}

.box-search-field .leading-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.box-search-field .search-field {
  background-color: var(--background);
  height: 100%;
}

.box-search-field .search-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 42px;
}

/* ---------------
  - Tab
------------------*/

.tab-list {
  border-block-end: 1px solid var(--outline);
  margin-block-end: 12px;
  overflow-x: auto;
  position: sticky;
  top: var(--header-height);
  z-index: 3;
  background-color: var(--background);
}
