.clr-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.overflow-h {
  overflow: hidden;
}

.has-state {
  position: relative;
  overflow: hidden;
  transition: var(--transition-short);
}

.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.has-state:where(:hover, :focus-visible):not(:active) {
  background-color: var(--alpha-10);
}

.container {
  max-width: 1130px;
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}

.section {
  margin-block-end: 12px;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.snap-type {
  scroll-snap-type: inline mandatory;
}

.snap-align {
  scroll-snap-align: start;
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snackbar-container {
  position: fixed;
  bottom: calc(var(--mobile-nav-height) + 16px);
  right: 16px;
  left: 16px;
  display: grid;
  gap: 8px;
  z-index: 10;
}

/* filter ship */
.filter-chip {
  height: 32px;
  background-color: var(--background);
  border: 1px solid var(--outline);
  display: grid;
  place-items: center;
  padding-inline: 16px;
  border-radius: var(--radius-8);
  user-select: none;
  cursor: pointer;
}

.filter-chip .checkbox {
  appearance: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.filter-chip:has(:focus-visible) {
  box-shadow: inset 0 0 0 1px var(--primary);
}

.filter-chip:has(:checked) {
  background-color: var(--badge-btn);
  border-color: var(--badge-btn);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bg);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.recipe-container {
  padding-block-end: 36px;
}

.recipe-container .grid-list {
  position: relative;
}

.recipe-container .title-wrapper {
  height: 40px;
  margin-block-end: 16px;
}

.badge {
  background-color: var(--error);
  color: var(--white);
  height: 16px;
  min-width: 16px;
  padding-inline: 4px;
  border-radius: var(--radius-pill);
}

.btn-hidden {
  height: 1px;
  width: 100%;
}

/* skeleton */
.detail-content-skeleton {
  aspect-ratio: 1/1;
}
