.icon-btn {
  background-color: var(--primary-container);
  padding: 8px;
  border-radius: var(--radius-circle);
  overflow: hidden;
}

.btn {
  padding-inline: 24px;
  padding-block: 10px;
  border-radius: var(--radius-4);
  transition: var(--transition-short);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

.btn.has-icon {
  padding-inline-start: 16px;
}

/* 
  - Tab
*/

.tab-btn {
  height: 48px;
  flex: 1 0 80px;
  border-block-end: 2px solid transparent;
}

.tab-btn[aria-selected="true"] {
  border-block-end-color: var(--primary);
}

/* TAB panel */

.icon-btn.removed .bookmark,
.icon-btn.saved .bookmark-add {
  display: none;
}

.icon-btn.saved .bookmark.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
  color: var(--on-background);
}
