/* Filter */

.input-outlined {
  position: relative;
  box-shadow: inset 0 0 0 1px var(--input-outline);
  width: 100%;
  transition: var(--transition-short);
}

.input-outlined:hover {
  box-shadow: inset 0 0 0 1px var(--input-outline-hover);
}

.input-outlined:has(:focus, input:not(:placeholder-shown)) {
  box-shadow: inset 0 0 0 2px var(--primary);
}

.input-field {
  height: 56px;
  outline: none;
}

.input-field::placeholder {
  opacity: 0;
  transition: var(--transition-short);
}

.input-field:focus::placeholder {
  opacity: 1;
}

.input-outlined .label {
  position: absolute;
  left: 16px;
  opacity: 0.75;
  background-color: var(--background);
  padding-inline: 4px;
  margin-inline: -4px;
  pointer-events: none;
  transition: var(--transition-short);
}

.input-outlined:has(:focus, input:not(:placeholder-shown)) .label {
  color: var(--primary);
  transform: translateY(-27px) scale(0.75);
  transform-origin: left center;
  opacity: 1;
}
