.grid {
  display: grid;
  gap: var(--gap);
}

.place-content-center {
  place-content: center;
}
.place-item-center {
  place-items: center;
}

.col-full {
  grid-column: 1/-1;
}

.grid-list {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
