/* @import url("../style.css"); */

/* padding */
.pd-inline-54 {
  padding-inline: 54px;
}
.pd-inline-48 {
  padding-inline: 48px;
}
.pd-inline-24 {
  padding-inline: 24px;
}
.pd-inline-18 {
  padding-inline: 18px;
}
.pd-inline-16 {
  padding-inline: 16px;
}
.pd-block-4 {
  padding-block: 4px;
}
.pd-block-6 {
  padding-block: 6px;
}
.pd-block-8 {
  padding-block: 8px;
}

/* margin */
.mg-inline-24 {
  margin-inline: 24px;
}
.mg-inline-18 {
  margin-inline: 18px;
}
.mg-inline-16 {
  margin-inline: 16px;
}

.mg-block-16 {
  margin: 16px;
}
.mg-block-4 {
  margin: 4px;
}
.mg-block-6 {
  margin: 6px;
}
.mg-block-8 {
  margin: 8px;
}
.mg-auto {
  margin-inline: auto;
}

/* ------------------------ */

.bd-y-end {
  border-block-end: 1px solid var(--outline);
}

.radius-pill {
  border-radius: var(--radius-pill);
}

.radius-circle {
  border-radius: var(--radius-circle);
}

.radius-4 {
  border-radius: var(--radius-4);
}
.radius-8 {
  border-radius: var(--radius-8);
}
